In [1]:
import numpy as np
import pandas as pd

# Create Series and DataFrame

In [3]:
pd.Series([1, 3, 5, np.nan, 6, 8])

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
dates = pd.date_range("20130101", periods=6)
pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

                   A         B         C         D
2013-01-01 -0.141721  1.579078 -0.521224  2.417131
2013-01-02 -0.670410 -0.355175  0.272687  0.256415
2013-01-03  0.162043 -0.620591 -0.283497 -1.214840
2013-01-04 -0.323223 -1.617500 -0.872005  0.354874
2013-01-05  0.188482  0.362057  0.094318 -1.006024
2013-01-06  0.874775  0.992229  0.575014 -1.342035

## using dictionary

In [8]:
df = pd.DataFrame({"A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",})
df

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [9]:
df.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

## Load CSV into data frame

In [ ]:
df.to_csv('filename.csv')
df_csv = pd.read_csv('filename.csv')
df_csv